# Copie este arquivo para "app_notas.env" e preencha os valores locais.

APP_NOTAS_OPENWEATHER_API_KEY=
APP_NOTAS_TELEGRAM_TOKEN=
APP_NOTAS_TELEGRAM_CHAT_ID=
APP_NOTAS_BACKUP_PATH=G:\Meu Drive\backupsistemas
APP_NOTAS_MAX_BACKUPS=50
